<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gcvc.maps.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name = "android.permission.INTERNET"/>
    <uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:icon="@drawable/socialcrimemapping"
        android:label="@string/app_name" 
        android:theme="@android:style/TextAppearance.Widget.DropDownItem">
        
        <uses-library android:name= "com.google.android.maps"/>
        
        
        <!-- 
        <activity
            android:name="welcome"
            android:label="Social Crime Mapping"
            android:theme="@android:style/Theme.Holo"
            android:parentActivityName="gcvc.maps.app.GeoVistaCrimeVizActivity">
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gcvc.maps.app.GeoVistaCrimeVizActivity"/>
        </activity>
         -->
         
         
        <activity
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@android:style/Theme.Holo"
            android:name=".GeoVistaCrimeVizActivity"
            android:label="@string/app_name">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
    
    </application>

</manifest>